.todos-container {
    width: 60%;
    height: 80vh;
    padding: 30px 50px;
    margin: auto;
    color: var(--text);
}

.todos-container h1 {
    margin-bottom: 20px;
}

.text-do {
    color: var(--accent);
}

.add-todos {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.add-todos input {
    flex: 1;
    padding: 10px 10px;
    background-color: var(--text);
    color: var(--background);
    border: none;
}

.todos {
    height: 100%;
    overflow: auto;
}

.todos-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--primary);
    color: var(--background);
    list-style-position: inside;
    padding: 16px;
    margin-bottom: 12px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--background);
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.btn {
    padding: 10px 10px;
    background-color: var(--secondary);
    color: var(--text);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--accent);
    color: var(--background);
}